<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
	<testsuite name="Unit_Test">
            <directory>./cnp/sdk/Test/unit/</directory>
        </testsuite>
            <testsuite name="Functional_Test">
               <directory>./cnp/sdk/Test/functional/</directory>
           </testsuite>
           <testsuite name="Certification_Test">
               <directory>./cnp/sdk/Test/certification/</directory>
           </testsuite>
	</testsuites>
</phpunit>
